# ─── Docker Compose ────────────────────────────────────────────
POSTGRES_USER=shoeflow
POSTGRES_PASSWORD=shoeflow_secret
POSTGRES_DB=shoeflow_db

REDIS_PASSWORD=redis_secret

PGADMIN_EMAIL=admin@shoeflow.com
PGADMIN_PASSWORD=admin
